.content--flex-container {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
  padding: 3rem 12rem 1.5rem;
  min-width: fit-content;
}

.content--flex-item {
  width: 100%;
  gap: 2.5rem;
  flex-direction: column;
  display: flex;

}
