<div class="container--outer">
  <mat-calendar class="calendar"
                (selectedChange)="onSelect($event)"
                [selected]="contactForm.controls['dateRange'].value">
  </mat-calendar>
  <form class="contact-info" (ngSubmit)="onSubmit()" [formGroup]="contactForm" novalidate>
    <mat-card-content class="input--container-outer">
      <div class="row">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Meno</mat-label>
          <input formControlName="firstName" matInput>
          @if (contactForm.controls['firstName'].hasError('required')) {
            <mat-error>Meno je povinné</mat-error>
          }
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Priezvisko</mat-label>
          <input formControlName="lastName" matInput required>
          @if (contactForm.controls['lastName'].hasError('required')) {
            <mat-error>Priezvisko je povinné</mat-error>
          }
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Telefónne číslo</mat-label>
          <example-tel-input formControlName="phoneNumber" required></example-tel-input>
          <mat-icon matSuffix>phone</mat-icon>
          @if (contactForm.controls['phoneNumber'].hasError('required')) {
            <mat-error>Telefónne číslo je povinné</mat-error>
          }
          @if (contactForm.controls['phoneNumber'].hasError('pattern')) {
            <mat-error>Telefónne číslo má nesprávny formát</mat-error>
          }
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Email</mat-label>
          <input formControlName="email" id="email" matInput required type="email">
          @if (contactForm.controls['email'].hasError('required')) {
            <mat-error>Email je povinný</mat-error>
          }
          @if (contactForm.controls['email'].hasError('email')) {
            <mat-error>Email má nesprávny formát</mat-error>
          }
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Počet osôb</mat-label>
          <input formControlName="personCount" matInput max="5" min="1" required type="number">
          @if (contactForm.controls['personCount'].hasError('required')) {
            <mat-error>Počet osôb je povinný</mat-error>
          }
          @if (contactForm.controls['personCount'].hasError('min')) {
            <mat-error>Minimálny počet osôb je 1</mat-error>
          }
          @if (contactForm.controls['personCount'].hasError('max')) {
            <mat-error>Maximálny počet osôb je 5</mat-error>
          }
        </mat-form-field>
      </div>
      <div class="row checkbox">
        <mat-checkbox formControlName="includeBreakfast">Pridať raňajky</mat-checkbox>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button color="primary" mat-flat-button type="submit">Odoslať</button>
    </mat-card-actions>
  </form>
</div>


