.full-width {
  width: 100%;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.contact-info--container {
  display: flex;
  flex-flow: column nowrap;
}

.input--container-outer {
  display: flex;
  flex-flow: column nowrap;
  flex: 1;
  padding-bottom: 8px;
  gap: 16px;
}

.mat-radio-button {
  display: block;
  margin: 5px 0;
}

.row {
  flex-grow: 1;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.checkbox {
  margin-left: -8px;
  margin-top: -16px;
  margin-bottom: 16px;
}

.container--outer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: self-start;
  flex-grow: 1;
  gap: 64px;
  margin: 24px 0;
}

.calendar {
  background-color: var(--mat-sys-surface-container-high);
  width: 360px;
  border-radius: 28px;
  min-width: 360px;
}

.contact-info {
  min-width: 250px;
  max-width: 360px;
  flex-grow: 1;
}
