.full-width {
  width: 100%;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.contact-info--container {
  display: flex;
  flex-flow: column nowrap;
}

.input--container-outer {
  display: flex;
  flex-flow: column nowrap;
  flex: 1;
  padding-bottom: 8px;
  gap: 32px;
}

.mat-radio-button {
  display: block;
  margin: 5px 0;
}

.row {
  flex-grow: 1;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
