.image--main {
  display: flex;
  height: 560px;
  padding: 8px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 8px;
  align-self: stretch;
  object-fit: cover;
  border-radius: 28px;
}

.example-container {
  width: auto;
  height: 200px;
  margin: 10px;
  border: 1px solid #555;
  /* The background property is added to clearly distinguish the borders between drawer and main
     page-content */
  background: #eee;
}


