.container--outer, .container--inner {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.container--outer {
  padding: 0.5rem 0;
  flex-direction: column;
}

.container--inner {
  align-content: center;
  align-self: stretch;
  flex-wrap: wrap;
}

.container--image {
  border-radius: 1rem;
  width: 21.25rem;
  height: 12.5rem;
  object-fit: cover;
}

.container--textbox {
  display: flex;
  min-width: 14rem;
  max-width: 27.5rem;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 0 0;
  color: var(--mat-sys-on-surface-variant);
  font: var(--mat-sys-body-large);
}
