.home {
  height: 100%;
}

.sidenav-colored {
  height: 100%;
  background-color: var(--mat-sys-surface-container);
}

.rail {
  width: 72px;
}

.expanded {
  width: 320px;
}

mat-sidenav-content {
  padding-top: 1rem;
  padding-left: 12rem;
  padding-right: 12rem;
}
