.content--flex-container {
  padding-top: 3rem;
  display: flex;
  padding-bottom: 1.5rem;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
  padding-left: 12rem;
  padding-right: 12rem;
}

.content--flex-item {
  width: 100%;
  gap: 2.5rem;
  flex-direction: column;
  display: flex;

}
