  <app-content>
    <img class="image--main" src="home.webp" alt="Home image">
    <app-container title="O chate">
      <app-learn-more-container imageAddress="about-home.webp"></app-learn-more-container>
    </app-container>
    <app-container title="Kuchyňa">
      <app-learn-more-container imageAddress="kitchen.jpg" [leftImage]="false" text="Na chate sa môžete občerstviť denne od 08:00 – 22:00. Máte možnosť vybrať si z ponuky tradičných slovenských jedál, pripravovaných nielen s láskou, ale aj z čerstvých surovín podľa receptov našich starých mám."></app-learn-more-container>
    </app-container>
    <app-container title="Rezervácie">
      <app-learn-more-container imageAddress="room.webp" text="Naša chata vám ponúka možnosť rezervácie izieb. Rezerváciu môžete uskutočniť telefonicky alebo online prostredníctvom našej webovej stránky. Ak máte špeciálne požiadavky, radi vám ich pomôžeme splniť."></app-learn-more-container>
    </app-container>
  </app-content>
