.nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  /*padding: 0.75rem;*/
}

.nav-item-expanded {
  justify-content: left;
}

.nav-link {
  display: inline-flex;
  padding-left: 4px;
}
