.card-grid--flexbox {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  align-content: flex-start;
  padding: 8px;
  gap: 32px 24px;
}

.card--item {
  min-width: 280px;
  max-width: 480px;
  height: 280px;
  flex: 1;
}
