<div class="container--outer">
  <div class="container--inner">
    <span class="container--textbox">
      <span class="container--text-header">Tradičné slovenské jedlá</span>
      <span class="container--text">
            Slovensko je bohaté nielen na prírodné krásy, ale tiež oplýva rozmanitými chuťami a vôňami jedál. U nás máte možnosť
    vybrať si z ponuky tradičných slovenských jedál, pripravovaných nielen s láskou, ale aj z čerstvých surovín podľa
    receptov našich starých mám. Nie sme podporovateľmi mrazených polotovarov, ale chutných poctivých jedál. Všetky naše
    polievky sú bezlepkové.
    Podporujeme slovenských producentov, ktorí nám dodávajú kvalitné suroviny a výrobky.
    Z nápojov určite ochutnajte bylinkový čaj, ktorý je lahodnou kombináciou liečivých rastlín.
    Čapujeme biologické pivo Martins 12° varené v miestnom martinskom rodinnom pivovare.
    Raňajky vydávame v čase od 07:30 – 08:30 hod. Kuchyňa varí do 20:30 hod. Nie je potrebná objednávka jedla dopredu.
    Našu výbornú kuchyňu môžu ochutnať nielen ubytovaní hostia ale aj stanujúci.
      </span>
    </span>
    <img class="container--image" src="kitchen.jpg" alt="Image not found">
  </div>
</div>
